body {
/*   overflow-y: hidden; */
  overflow-x: hidden;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.absolute {
  position: absolute;
}

.text-center {
  text-align: center;
}

.column {
  flex-direction: column;
}

.d-none {
  display: none;
}
.pointer {
  cursor: pointer;
}
.background{
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 5;
}

.sign-up-animation { 
  animation: move-from-bottom 1s forwards;
}

@keyframes move-from-bottom {
  0% {
    transform: translateX(600px);
  }
  100% {
    transform: translateX(-40px);
  }
}

.board {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 96px;
  left: 242px;
  background-color: rgb(246, 247, 248);
}

.board-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  left: 5%;
}

.board-title-head {
  font-weight: 700;
  font-size: 61px;
}

.add-task-button {
  background-color: rgb(42, 54, 71);
  color: white;
  border: 1px;
  border-radius: 10px;
  display: flex;
  width: 160px;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 20px;
  font-weight: bold;
}

.add-task-button:hover {
  background-color: rgb(41, 171, 226);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.find-task {
  display: flex;
  padding-left: 30vw;
}

.input-field {
  width: 400px;
  height: 40px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 18px;
  text-indent: 16px;
}

.input-field::placeholder {
  color: rgb(209, 209, 209);
  border-right: 1px;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
  border-style: solid;
  border-color: rgb(209, 209, 209);
  width: 310px;
}

.find-task img {
  cursor: pointer;
  position: relative;
  top: 6px;
  right: 4rem;
  width: 32px;
  height: 32px;
}

.find-task-img:hover {
  background-color: rgb(238, 238, 238);
  border-radius: 50%;
}

.board-column {
  display: flex;
  height: 700px;
  position: absolute;
  top: 30%;
  left: 5%;
}

.move-right {
  padding-right: 48px;
}

.board-column-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(66, 82, 110);
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 12px;
}

.board-column-title-img {
  width: 24px;
  height: 24px;
  padding-right: 12px;
  cursor: pointer;
}

.board-column-title-img2 {
  width: 24px;
  height: 24px;
  padding-right: 12px;
  cursor: pointer;
  display: none;

}

.images:hover .board-column-title-img {
  display: none;
}

.images:hover .board-column-title-img2 {
  display: inline;
}

.board-column-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-style: dashed;
  border-radius: 10px;
  border-width: 1px;
  width: 280px;
  height: 48px;
  background-color: rgb(231, 231, 231);
  border-color: rgb(168, 168, 168);
  color: rgb(168, 168, 168);
}

/* Task-Card */
.position-relative{
  position: relative;
}
.dragging{
  background-color: #29abe2;
  min-height: 1000px;
  width: auto;
  height: auto;
}
.board-task-card {
  margin-top: 16px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 230px;
  height: 300px;
  padding: 24px;
  border-radius: 30px;
  border-width: 0;
  z-index: 5;
  border-style: solid;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}

.board-task-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 56, 255);
  color: white;
  border-radius: 8px;
  width: 113px;
  height: 27px;
  font-size: 18px;
}

.board-task-card-description {
  font-size: 20px;
  font-weight: bold;
}

.board-task-card-task {
  font-size: 20px;
  color: rgb(168, 168, 168);
  padding-bottom: 16px;
}

.board-task-card-subtasks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
}

.board-task-card-subtasks-bar {
  display: flex;
  align-items: center;
  width: 140px;
  height: 8px;
  background-color: rgb(244, 244, 244);
  border-radius: 8px;
}

.bar-fill {
  width: 70px;
  height: 8px;
  background-color: rgb(69, 137, 255);
  border-radius: 8px;
}

.board-task-card-subtasks-amount {
  font-size: 18px;
}

.board-task-card-users {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.board-task-card-users-amount {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-size: 20px;
  font-weight: 400;
  color: white;
  background-color: rgb(255, 122, 0);
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.board-task-card-priority img {
  width: 24px;
  height: 10px;
}

.add-tasks-whole-div {
  margin-top: 50px;
  padding: 64px;
  border-radius: 30px;
  position: fixed;
  top: 100px;
  left:200px;
  background-color: white;
  z-index: 6;
}

/*headline*/

.headline-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headline-div h1 {
  margin-top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 61px;
}

/*letf side*/

.add-tasks-div {
}

.add-tasks-left-side-div {
  border-right: 1px solid #d1d1d1;
  padding-right: 64px;
  gap: 18px !important;
}
.title span {
  font-size: 20px;
}
.title input {
  padding-left: 8px;
  font-size: 20px;
  margin-top: 4px;
  width: 440px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  margin-top: 12px !important;
}

.important {
  color: #ff8190;
}

.description {
  padding-top: 32px;
}

.description span {
  font-size: 20px;
}
.description textarea {
  padding-top: 8px;
  padding-left: 8px;
  font-size: 20px;
  width: 440px;
  height: 120px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  margin-top: 12px !important;
}

.assigned-to {
  padding-top: 32px;
}

.assigned-to span {
  font-size: 20px;
}
.assigned-to select {
  padding-left: 8px;

  font-size: 20px;
  margin-top: 12px !important;
  width: 440px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
}

/*right side*/

.add-tasks-right-side-div {
  padding-left: 64px;
}
.duo-date span {
  padding-bottom: 8px;
  font-size: 20px;
}
.duo-date input {
  padding-left: 8px;
  font-size: 20px;
  margin-top: 8px;
  width: 440px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
}
/*priorities*/

.all-priorities {
  padding-top: 30px;
}

.all-priorities span {
  font-size: 20px;
}
.priorities {
  padding-top: 8px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 17px;
}
.prioprity-urgent {
  gap: 6px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  width: 136px;
  height: 56px;
  border-radius: 10px;
  background-color: white;
  font-size: 20px;
}
.prioprity-urgent:focus {
  background: #ff3d00 !important;
  color: white;
  z-index: 1;
  font-size: 21px;
}

.prioprity-urgent:hover {
  box-shadow: inset 0 -2px #ff3d00;
}

.prioprity-urgent:focus .urgent1 {
  display: none;
}

.prioprity-urgent:focus .urgent2 {
  display: inline;
}

.prioprity-medium {
  gap: 6px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  width: 136px;
  height: 56px;
  border-radius: 10px;
  background-color: white;
  font-size: 20px;
}
.prioprity-medium:focus {
  background: #ffa800 !important;
  color: white;
  z-index: 1;
  font-size: 21px;
}


.prioprity-medium:hover {
  box-shadow: inset 0 -2px #ffa800;
}

.prioprity-medium:focus .medium1 {
  display: none;
}

.prioprity-medium:focus .medium2 {
  display: inline;
}




.prioprity-low {
  font-size: 20px;
  gap: 6px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  width: 136px;
  height: 56px;
  border-radius: 10px;
  background-color: white;
}
.prioprity-low:focus {
  background: #7ae229 !important;
  color: white;
  z-index: 1;
  font-size: 21px;
}

.prioprity-low:hover {
  box-shadow: inset 0 -2px #7ae229;
}

.prioprity-low:focus .low1 {
  display: none;
}

.prioprity-low:focus .low2 {
  display: inline;
}



.category {
  padding-top: 16px;
}

.category span {
  font-size: 20px;
}

.category select {
  padding-left: 8px;
  font-size: 20px;
  margin-top: 8px;
  width: 445px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
}

.subtasks {
  padding-top: 16px;
}

.subtasks span {
  font-size: 20px;
}
.subtasks input {
  padding-left: 8px;
  font-size: 20px;
  margin-top: 8px;
  width: 440px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
}

.input-icon1 {
  margin-left: -30px;
  margin-bottom: -6px;
}
.input-icon2 {
  margin-left: -25px;
  margin-bottom: -2px;
}
/*Bottom*/

.bottom {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-bottom {
  font-size: 20px;
}

.right-bottom {
}
.clear-and-create-task {
  gap: 16px;
}

.clear {
  background-color: #f6f7f8;
  border: 1px solid #2a3647;
  border-radius: 10px;
  width: 120px;
  height: 56px;
  gap: 4px;
}

.clear:hover {
  border: 2px solid #29abe2;
  color: #29abe2;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);

}

.clear:hover .cancel1 {
  display: none;
}

.clear:hover .cancel2 {
  display: inline;
}

.clear span {
  font-size: 20px;
}

.create-task {
  font-weight: 700;
  color: white;
  background-color: #2a3647;
  border-radius: 10px;
  width: 183px;
  height: 56px;
  gap: 4px;
}

.create-task:hover{
  background-color: #29abe2;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
}

.create-task span {
  font-size: 20px;
}
.goBack{
  border-radius: 50%;
  padding: 2px;
}
.goBack:hover{
  background-color: rgb(128, 128, 128,0.2);
}
