body {
  overflow-y: hidden;
  overflow-x: hidden;
  font-size: 16px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.absolute {
  position: absolute;
}

.text-center {
  text-align: center;
}

.column {
  flex-direction: column;
}

.d-none {
  display: none;
}

.pointer {
  cursor: pointer;
}

.sign-up-animation { 
  animation: move-from-bottom 1s forwards;
}

@keyframes move-from-bottom {
  0% {
    transform: translateY(600px);
  }
  100% {
    transform: translateY(100px);
  }
}

.show-contact-animation { 
  animation: move-from-right 0.2s forwards;
}

@keyframes move-from-right {
  0% {
    transform: translatex(2000px);
  }
  100% {
    transform: translatex(0px);
  }
}

/* .sign-up-animation-close { 
  animation: move-from-top 1s forwards;
}

@keyframes move-from-top {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(600px);
  }
} */

.addnew{
  left: 200px;
  z-index: 6 !important;
}

.account{
  width: 120px;
  height: 120px;
  background-color: orange;
  border-radius: 70px;
  border: 3px solid rgb(255, 255, 255);
  box-shadow: -2px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

.addNewContactDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 300px;
  width: 1212px;
  height: auto;
}

.background{
  background: rgba(0, 0, 0, 0.2) !important;
  position: absolute;
  z-index: 5;
}

.contacts {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 96px;
  left: 242px;
  background-color: rgb(246, 247, 248);
}

/* contact sidebar */

#contactsMenu {
  width: 365px;
  height: 85vh;
  position: absolute;
  z-index: 3;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(226, 226, 226);
  background-color: white;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 24px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}

.primary-contact {
  background-color: rgb(42, 54, 71);
  color: white;
  border: 1px;
  border-radius: 10px;
  display: flex;
  width: 280px;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 20px;
  font-weight: bold;
}

.primary-contact img {
  width: 32px;
  height: 32px;
}

.primary-contact:hover {
  background-color: rgb(41, 171, 226);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.letter-contacts {
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: rgb(226, 226, 226);
  width: 280px;
  height: 58px;
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.letter-contacts p {
  padding-left: 28px;
}

.added-contact {
  display: flex;
  width: 280px;
}

.added-contact p {
  margin: 20px 0 4px 0;
  font-size: 18px;
}

.added-contact-icon {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-size: 20px;
  font-weight: 400;
  color: white;
  background-color: rgb(255, 122, 0);
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.moveRight {
  padding-left: 30px;
}

.added-contact:hover {
  border-radius: 10px;
  background-color: rgb(242, 242, 242);
}

.primary-contact-icon-container {
  border-style: solid;
  border-width: 0;
  width: 40px;
  height: 80px;
  padding: 0 0 0 16px;
  display: flex;
  align-items: center;
}

.contact-link {
  font-size: 14px;
  color: rgb(0, 124, 238);
  text-decoration: none;
}

/* contact title */

.contacts-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  left: 25%;
}

.contacts-title-head {
  font-weight: 700;
  font-size: 61px;
  padding-right: 30px;
  border-right: 3px solid #29abe2;
}

.contacts-title-text {
  font-size: 27px;
  padding-left: 30px;
}

/* contact-info popup */

#contact-info {
  display: none;
  justify-content: center;
  position: absolute;
  top: 30%;
  left: 25%;
  height: 600px;
}

.contact-info-column {
  display: flex;
  flex-direction: column;
}

.contact-info-head {
  display: flex;
}

.moveRightadnDown {
  padding: 20px 0 0 40px;
}

.contact-info-name {
  font-size: 40px;
  margin-block: 0;
  font-weight: bold;
}

.edit,
.delete {
  display: flex;
  align-items: center;
  padding-right: 24px;
  gap: 8px;
}

.edit:hover {
  color: rgb(41, 171, 226);
  background-image: url(/assets/icons/edit2.png);
  background-repeat: no-repeat;
  font-weight: bold;
}

.delete:hover {
  color: rgb(41, 171, 226);
  background-image: url(/assets/icons/delete2.png);
  background-repeat: no-repeat;
  font-weight: bold;
}

.edit:hover img,
.delete:hover img {
  opacity: 0;
}

.contact-info-icon {
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  border-width: 4px;
  width: 120px;
  height: 120px;
  font-size: 56px;
  font-weight: 400;
  color: white;
  background-color: rgb(255, 122, 0);
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.contact-info-head span {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contact-info-head span img {
  width: 24px;
  height: 24px;
}

.contact-information {
  padding: 50px 0 50px 0;
  font-size: 22px;
}

.contact-information-details {
  font-size: 18px;
}

.contact-information-details p {
  font-weight: bold;
}

.left-side-add-contact{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 30%;
  height: 80vh;
  background-color: #2A3647;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.left-side-add-contact h1{
  margin: 0;
  padding-top: 16px;
  color: white;
  font-weight: 700;
  font-size: 61px;
}

.left-side-add-contact span{
  padding-top: 16px;
  color: white;
  font-weight: 400;
  font-size: 27px;
  margin-bottom: 16px;
}

.line{
  width: 76px;
  border-top: 3px solid #29ABE2;
}

.right-side-add-contact{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 80vh;
  background-color: #ffffff;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.form-contacs input{
  padding-left: 16px;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 32px;
  width: 422px;
  height: 50px;
}

.log-in-field::placeholder{
  color: #d1d1d1;
}

.form-contacs img{
  margin-left: -30px;
  margin-bottom: -30px;
}

.close{
  top: 60px;
  right: 67px;
  border-radius: 50%;
  padding: 2px;
}

.close:hover{
  background-color: rgb(128, 128, 128,0.2);
}

.clear-and-create-task {
  margin-top: 64px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.clear {
  background-color: #f6f7f8;
  border: 1px solid #2a3647;
  border-radius: 10px;
  width: 120px;
  height: 56px;
  gap: 4px;
}

.clear:hover {
  border: 2px solid #29abe2;
  color: #29abe2;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);

}

.clear:hover .cancel1 {
  display: none;
}

.clear:hover .cancel2 {
  display: inline;
}

.clear span {
  font-size: 20px;
}

.create-task {
  font-weight: 700;
  color: white;
  background-color: #2a3647;
  border-radius: 10px;
  width: 183px;
  height: 56px;
  gap: 4px;
}

.create-task:hover{
  background-color: #29abe2;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
}

.create-task span {
  font-size: 20px;
}