body {
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(246, 247, 248);
  margin: 0 !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.absolute {
  position: absolute;
}

.text-center {
  text-align: center;
}

.column {
  flex-direction: column;
}

.d-none {
  display: none;
}

.pointer {
  cursor: pointer;
}

.zIndex {
  z-index: 0 !important;
}

.logo-animation {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 25%;
  z-index: 10;
}

#logo-animated {
  transition: transform 1s, scale 1s;
}

/* LOGIN */

.log-in-sign-up {
  position: absolute;
  top: 7vh;
  right: 10vw;
  gap: 32px;
  opacity: 0;
  opacity: 1.5s ease;
}

.log-in-sign-up p {
  font-size: 24px;
}

.log-in-sign-up-button {
  background-color: rgb(42, 54, 71);
  color: white;
  border: 1px;
  border-radius: 10px;
  display: flex;
  width: 120px;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 20px;
  font-weight: bold;
}

.log-in-sign-up-button:hover {
  background-color: rgb(41, 171, 226);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.log-in-links {
  color: rgb(168, 168, 168);
  gap: 24px;
  position: relative;
  top: 90vh;
  font-size: 20px;
  opacity: 0;
  opacity: 1.5s ease;
}

.log-in-privacy,
.log-in-legal {
  text-decoration: none;
  color: rgb(168, 168, 168);
}

.log-in-privacy:hover,
.log-in-legal:hover {
  font-weight: bold;
  color: rgb(41, 171, 226);
}

.zIndex2 {
  z-index: 12;
}

.log-in-content {
  position: absolute;
  top: 25vh;
  width: 550px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
  border-width: 0;
  border-style: solid;
  background-color: white;
  opacity: 0;
  opacity: 1.5s ease;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}

.log-in-title {
  width: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 3vh;
  font-weight: 700;
  font-size: 61px;
  padding-bottom: 15px;
}
.log-in-title::before{
  content : "";
  position: absolute;
  bottom  : 0;
  height  : 1px;
  width   : 85%;
  border-bottom: 3px solid #29abe2;
}


.log-in-inputs {
  position: relative;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log-in-inputs::placeholder {
  color: rgb(209, 209, 209);
}

.log-in-field {
  width: 22rem;
  height: 3vh;
  padding: 10px;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 10px;
  outline: none;
}

.log-in-field::placeholder {
  color: rgb(209, 209, 209);
  font-size: 18px;
}

.log-in-mail-lock-icon {
  position: relative;
  top: 8px;
  right: 2rem;
  height: 22px;
}

.log-in-remember-me {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-right: 12rem;
  position: relative;
  top: 2vh;
}

.log-in-checkbox {
/*   height: 16px;
  width: 16px;
  border-radius: 3px;
  border-style: solid; */
}

/* .log-in-checkbox:hover {
  scale: 1.1;
  background-color: rgb(238, 238, 238);
} */

.log-in-checkbox[type="checkbox"]:not(:disabled):hover:after {
  background-image: linear-gradient(135deg, #8BB0C2 0%, #FFF 100%);
  border-color: #85A9BB #92C2DA #92C2DA #85A9BB;
}

.log-in-checkbox[type="checkbox"]:before {
  position: relative;
  display: block;
  width: 11px;
  height: 11px;
  border: 1px solid #808080;
  content: "";
  background: #FFF;
}

.log-in-checkbox[type="checkbox"]:after {
  position: relative;
  display: block;
  left: 2px;
  top: -11px;
  width: 7px;
  height: 7px;
  border-width: 1px;
  border-style: solid;
  border-color: #B3B3B3 #dcddde #dcddde #B3B3B3;
  content: "";
  background-image: linear-gradient(135deg, #B1B6BE 0%, #FFF 100%);
  background-repeat: no-repeat;
  background-position: center;
}

.log-in-checkbox[type="checkbox"]:checked:after {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAQAAABuW59YAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAB2SURBVHjaAGkAlv8A3QDyAP0A/QD+Dam3W+kCAAD8APYAAgTVZaZCGwwA5wr0AvcA+Dh+7UX/x24AqK3Wg/8nt6w4/5q71wAAVP9g/7rTXf9n/+9N+AAAtpJa/zf/S//DhP8H/wAA4gzWj2P4lsf0JP0A/wADAHB0Ngka6UmKAAAAAElFTkSuQmCC'), linear-gradient(135deg, #B1B6BE 0%, #FFF 100%);
}

.log-in-checkbox[type="checkbox"]:disabled:after {
  -webkit-filter: opacity(0.4);
}

.log-in-checkbox[type="checkbox"]:not(:disabled):checked:hover:after {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAQAAABuW59YAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAB2SURBVHjaAGkAlv8A3QDyAP0A/QD+Dam3W+kCAAD8APYAAgTVZaZCGwwA5wr0AvcA+Dh+7UX/x24AqK3Wg/8nt6w4/5q71wAAVP9g/7rTXf9n/+9N+AAAtpJa/zf/S//DhP8H/wAA4gzWj2P4lsf0JP0A/wADAHB0Ngka6UmKAAAAAElFTkSuQmCC'), linear-gradient(135deg, #8BB0C2 0%, #FFF 100%);
}

.sign-up-checkbox[type="checkbox"]:not(:disabled):hover:after {
  background-image: linear-gradient(135deg, #8BB0C2 0%, #FFF 100%);
  border-color: #85A9BB #92C2DA #92C2DA #85A9BB;
}

.sign-up-checkbox[type="checkbox"]:not(:disabled):hover:before {
  border-color: #3D7591;
}

.log-in-login-buttons {
  display: flex;
  gap: 24px;
  padding-top: 2vh;
  position: relative;
}

.log-in-login-button {
  background-color: rgb(42, 54, 71);
  color: white;
  border: 1px;
  border-radius: 8px;
  display: flex;
  width: 100px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 18px;
  font-weight: bold;
}

.log-in-login-button:hover {
  background-color: rgb(41, 171, 226);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.log-in-guestlogin-link,
.log-in-sign-up-link {
  text-decoration: none;
}

.log-in-guestlogin-button {
  text-align: center;
  background-color: white;
  color: rgb(42, 54, 71);
  border: 1px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(42, 54, 71);
  display: flex;
  width: 140px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 18px;
  font-weight: bold;
}

.log-in-guestlogin-button:hover {
  color: rgb(41, 171, 226);
  border-color: rgb(41, 171, 226);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.invalid-data {
  color: red;
  position: relative;
  top: 53.5vh;
  left: 1vw;
  z-index: 12;
}



@media only screen and (max-width: 430px) {
  .logo-animation {
    top: 20%;
    left: 28%;
  }

  .log-in-sign-up {
    top: 75vh;
    right: 16vw;
  }
  
  .log-in-sign-up p {
    font-size: 22px;
    margin: 0;
  }
  
  .log-in-sign-up-button {

  }
  
  .log-in-sign-up-button:hover {

  }
  
  .log-in-links {
    gap: 24px;
    top: 85vh;
  }
  .log-in-content {
    margin-right: 7px;
    top: 25vh;
    width: 400px;
    height: 400px;
  }
  .log-in-title {
    width: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 3vh;
    font-weight: 700;
    font-size: 60px;
    padding-bottom: 10px;
  }
  .log-in-title::before{

    bottom  : 0;
    height  : 1px;
    width   : 85%;
    border-bottom: 3px solid #29abe2;
  }
  .input-main{
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 21px;
  }
  .input-div{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 21px;
  }
  .log-in-field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23rem;
    height: 3vh;
    padding: 10px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
    outline: none;
  }
  
  .log-in-field::placeholder {
    color: rgb(209, 209, 209);
    font-size: 18px;
  }
  
  .log-in-mail-lock-icon {
    position: relative;
    top: 0px;
    right: 2rem;
    height: 22px;
  }
  .log-in-remember-me {
    margin-right: 16rem;
    top: 2vh;
  }
  .log-in-login-buttons{
    padding-top: 50px;
  }
  .log-in-guestlogin-button {
    text-align: center;
    background-color: white;
    color: rgb(42, 54, 71);
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(42, 54, 71);
    display: flex;
    width: 140px;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-size: 16px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 416px) {
  .logo-animation {
    top: 20%;
    left: 28%;
  }

  .log-in-sign-up {
    top: 75vh;
    right: 16vw;
  }
  
  .log-in-sign-up p {
    font-size: 22px;
    margin: 0;
  }
  
  .log-in-sign-up-button {

  }
  
  .log-in-sign-up-button:hover {

  }
  
  .log-in-links {
    gap: 24px;
    top: 85vh;
  }
  .log-in-content {
    margin-right: 7px;
    top: 25vh;
    width: 350px;
    height: 400px;
  }
  .log-in-title {
    width: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 3vh;
    font-weight: 700;
    font-size: 60px;
    padding-bottom: 10px;
  }
  .log-in-title::before{

    bottom  : 0;
    height  : 1px;
    width   : 85%;
    border-bottom: 3px solid #29abe2;
  }
  .input-main{
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 21px;
  }
  .input-div{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 21px;
  }
  .log-in-field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 3vh;
    padding: 10px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
    outline: none;
  }
  
  .log-in-field::placeholder {
    color: rgb(209, 209, 209);
    font-size: 18px;
  }
  
  .log-in-mail-lock-icon {
    position: relative;
    top: 0px;
    right: 2rem;
    height: 22px;
  }
  .log-in-remember-me {
    margin-right: 14rem;
    top: 2vh;
  }
  .log-in-login-buttons{
    padding-top: 50px;
  }
  .log-in-guestlogin-button {
    text-align: center;
    background-color: white;
    color: rgb(42, 54, 71);
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(42, 54, 71);
    display: flex;
    width: 140px;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-size: 16px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 380px) {
  .log-in-content {
    margin-right: 7px;
    top: 25vh;
    width: 320px;
    height: 330px;
  }
  .log-in-login-buttons{
    padding: 0;
  }
  .log-in-field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17rem;
    height: 3vh;
    padding: 10px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
    outline: none;
  }
  .log-in-remember-me {
    margin-right: 10rem;
    top: 1vh;
  }
  .log-in-sign-up {
    top: 71vh;
    right: 13vw;
  }
  .log-in-links {
    gap: 24px;
    top: 81vh;
  }
}

@media only screen and (min-width: 320px) and (max-width: 380px) {
  .logo-animation {
    top: 15%;
    left: 15%;
  }

  .log-in-sign-up {
    position: absolute;
    top: 68vh;
    right: 4vw;
  }
  
  .log-in-sign-up p {
    font-size: 22px;
    margin: 0;
  }
  
  .log-in-sign-up-button {

  }
  
  .log-in-sign-up-button:hover {

  }
  
  .log-in-links {
    gap: 24px;
    top: 77vh;
  }
  .log-in-content {
    top: 25vh;
    width: 300px;
    height: 300px;
  }
  .log-in-title {
    width: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 3vh;
    font-weight: 700;
    font-size: 55px;
    padding-bottom: 10px;
  }
  .log-in-title::before{

    bottom  : 0;
    height  : 1px;
    width   : 85%;
    border-bottom: 3px solid #29abe2;
  }
  .input-main{
    height: 15px;
  }
  .input-div{
    height: 40px;
  }
  .log-in-field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17rem;
    height: 3vh;
    padding: 10px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
    outline: none;
  }
  
  .log-in-field::placeholder {
    color: rgb(209, 209, 209);
    font-size: 18px;
  }
  
  .log-in-mail-lock-icon {
    position: relative;
    top: 8px;
    right: 2rem;
    height: 22px;
  }
  .log-in-remember-me {
    margin-right: 11rem;
    top: 3vh;
  }
}

@media only screen and (max-width: 320px) {
  .logo-animation {
    top: 15%;
    left: 15%;
  }

  .log-in-sign-up {
    position: absolute;
    top: 68vh;
    right: 4vw;
  }
  
  .log-in-sign-up p {
    font-size: 22px;
    margin: 0;
  }
  
  .log-in-sign-up-button {

  }
  
  .log-in-sign-up-button:hover {

  }
  
  .log-in-links {
    gap: 24px;
    top: 77vh;
  }
  .log-in-content {
    top: 25vh;
    width: 300px;
    height: 300px;
  }
  .log-in-title {
    width: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 3vh;
    font-weight: 700;
    font-size: 55px;
    padding-bottom: 10px;
  }
  .log-in-title::before{

    bottom  : 0;
    height  : 1px;
    width   : 85%;
    border-bottom: 3px solid #29abe2;
  }
  .input-main{
    height: 15px;
  }
  .input-div{
    height: 40px;
  }
  .log-in-field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17rem;
    height: 3vh;
    padding: 10px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
    outline: none;
  }
  
  .log-in-field::placeholder {
    color: rgb(209, 209, 209);
    font-size: 18px;
  }
  
  .log-in-mail-lock-icon {
    position: relative;
    top: 8px;
    right: 2rem;
    height: 22px;
  }
  .log-in-remember-me {
    margin-right: 11rem;
    top: 3vh;
  }
}

