.body {
  background-color: rgb(0, 0, 0, 0.2);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.d-none {
  display: none;
}

.pointer {
  cursor: pointer;
}

.blur {
  filter: blur(3px);
}

.sign-up-animation {
  animation: move-from-bottom 2s forwards;
  z-index: 1 !important;
}

@keyframes move-from-bottom {
  0% {
    transform: translateY(600px);
  }
  100% {
    transform: translateY(500px);
  }
}

/* SIGN UP */

.sign-up-sign-up {
  position: absolute;
  gap: 32px;
}

.sign-up-sign-up-button {
  background-color: rgb(42, 54, 71);
  color: white;
  border: 1px;
  border-radius: 10px;
  display: flex;
  width: 100px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 18px;
  font-weight: bold;
}

.sign-up-sign-up-button2 {
  background-color: rgb(42, 54, 71);
  color: white;
  border: 1px;
  border-radius: 10px;
  display: flex;
  width: 312px;
  height: 74px;
  font-size: 21px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-weight: bold;
}

.sign-up-content {
  padding-bottom: 16px;
  position: absolute;
  top: 13vh;
  width: 550px;
  height: 600px;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  border-width: 0;
  border-style: solid;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}

.sign-up-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 6vh;
  font-weight: 700;
  font-size: 61px;
  padding-bottom: 15px;
  border-bottom: 3px solid #29abe2;
}

.sign-up-inputs {
  position: relative;
  bottom: 3vh;
  gap: 16px;
  display: flex;
  flex-direction: column;
  left: 1vw;
  top: 1vh;
}

.sign-up-inputs::placeholder {
  color: rgb(209, 209, 209);
}

.sign-up-field {
  width: 22rem;
  height: 3vh;
  padding: 10px;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 10px;
  outline: none;
}

.sign-up-field::placeholder {
  color: rgb(209, 209, 209);
  font-size: 18px;
}

.sign-up-mail-lock-icon {
  position: relative;
  top: 8px;
  right: 3rem;
}

.sign-up-checkbox-and-button {
  position: relative;
  right: 1vw;
}

.sign-up-privacy-policy {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
  top: 6vh;
}

.sign-up-checkbox {
  height: 16px;
  width: 16px;
  border-radius: 3px;
  border-style: solid;
}

.sign-up-checkbox:hover {
  scale: 1.1;
  background-color: rgb(238, 238, 238);
}

.sign-up-login-buttons {
  position: relative;
  top: 8vh;
}

.sign-up-login-button {
  background-color: rgb(42, 54, 71);
  color: white;
  border: 1px;
  border-radius: 8px;
  display: flex;
  width: 100px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 18px;
  font-weight: bold;
}

.sign-up-sign-up-button:hover {
  background-color: rgb(41, 171, 226);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.sign-up-guestlogin-button {
  background-color: white;
  color: rgb(42, 54, 71);
  border: 1px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(42, 54, 71);
  display: flex;
  width: 140px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 18px;
  font-weight: bold;
}

.sign-up-guestlogin-button:hover {
  color: rgb(41, 171, 226);
  border-color: rgb(41, 171, 226);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.sign-up-privacy-policy p {
  margin: 0 !important;
  color: rgb(209, 209, 209);
}

.sign-up-privacy-policy span {
  color: rgb(41, 171, 226);
}

.sign-up-privacy-policy-span:hover {
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.sign-up-privacy-policy:hover .sign-up-checkbox {
  background-color: rgb(238, 238, 238);
}

.sign-up-privacy-policy.error p {
  color: red;
}

.sign-up-privacy-policy-span.error2 {
  color: red;
}

.error-min-characters {
  color: red;
  padding-top: 12px;
}

.arrow-left-line {
  position: absolute;
  right: 150%;
  top: 25%;
}

.arrow-left-line:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: rgb(238, 238, 238);
  border-radius: 50%;
}