<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/join kl/style/headerLoggedOut.css" />

    <title>Side-Bar</title>
</head>
<body>
    
    <div id="sidebar">

        <img class="sidebar-logo" src="../assets/icons/sidebar-logo.png">
        <div class="sidebar-menu">
          <a class="decoration-none d-none" href="../html/summary.html"><div class="sidebar-link pointer"><img class="sidebar-icon" src="../assets/icons/summary-icon.png"><p>Summary</p></div></a>
          <a class="decoration-none d-none" href="../html/add-task.html"><div class="sidebar-link pointer"><img class="sidebar-icon" src="../assets/icons/add-task-icon.png"><p>Add Task</p></div></a>
          <a class="decoration-none d-none" href="../html/board.html"><div class="sidebar-link pointer"><img class="sidebar-icon" src="../assets/icons/board-icon.png"><p>Board</p></div></a>
          <a class="decoration-none d-none" href="../html/contacts.html"><div class="sidebar-link pointer"><img class="sidebar-icon" src="../assets/icons/contacts-icon.png"><p>Contacts</p></div></a>
        </div>
  
      <div class="legal-links">
        <a class="decoration-none" href="../html/privacy.html"><div class="legal-text pointer">Privacy Policy</div></a>
        <a class="decoration-none" href="../html/legal.html"><div class="legal-text pointer">Legal notice</div></a>
      </div>
  
      </div>

  <script src="../script/header.js"></script>
</body>
</html>